.main-content {
  width: 70%;
  margin: 0 auto;
}
img {
  max-width: 80%;
}
header {
  background-color: rgb(247, 165, 136);
}
nav {
  font-size: 1.3em;
  font-family: 'Roboto Slab', 'Arial', serif, sans-serif;
}
a {
  text-decoration: none;
}
