.main-content {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 150px;
}
img {
  max-width: 80%;
}
header {
  background-color: rgb(230, 247, 136);
  padding: 15px 0 0 0;
}
h1 {
  text-align: center;
}
nav {
  font-size: 1.3em;
  font-family: "Roboto Slab", "Arial", serif, sans-serif;
  background-color: rgb(247, 165, 136);
  padding: 15px 0 15px 25px;
}
a {
  text-decoration: none;
  color: darkgreen;
}
ol {
  margin: 0;
}

article {
  font-size: 1.3em;
  font-family: "Raleway", "Arial", sans-serif;
}
article>p{
  max-width: 90%;
}
article>a{
  font-size: 1.2em;
  color: darkolivegreen;
  font-weight: bolder;
}